.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  padding-top: 30px;
}

.header__wrap {
  width: 33.33%;
  
  &--user {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}
