@media (max-width: 1800px) {
  .wrapper {
    padding-left: 320px;
    padding-top: 100px;
    width: 100%;
  }
  .wrapper-main {
    padding-left: 20px;
    padding-right: 20px;
  }
  .sidebar {
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    max-height: 400px;
    overflow-y: auto;
  }
  .catalog__item {
    width: 48%;
    margin-bottom: 40px;
  }
  .catalog__img {
    height: 560px;
  }
}

//----------------------------
@media (max-width: 1400px) {
  .header {
    padding-top: 10px;
  }
  .footer {
    padding-bottom: 10px;
  }
  .cart img,
  .like img,
  .footer__block img,
  .footer__social img {
    width: 45px;
    height: 45px;
  }
  .footer__social--fb img,
  .footer__social--in img {
    width: 52px;
    height: 52px;
  }
  .menu__btn {
    width: 35px;
    height: 35px;
  }
  .slider__comment,
  .logo {
    font-size: 40px;
  }
  .slider__title {
    font-size: 70px;
  }
  .menu__wrap {
    padding-top: 100px;
  }
  .menu__list {
    max-height: 500px;
    overflow-y: auto;
  }
  .filter fieldset,
  .filter__range {
    width: 24%;
  }
}

//-------------------------
@media (max-width: 1278px) {
  .slider__pagination .swiper-pagination-bullet {
    width: 15px;
    height: 15px;
  }
  .filter {
    justify-content: space-around;
  }
  .filter fieldset,
  .filter__range {
    width: 30%;
  }
  .catalog__img {
    height: 400px;
  }
  .catalog__overlay {
    padding: 20px;
  }
  .catalog__form {
    width: 100%;
  }
  .catalog__item {
    margin-bottom: 20px;
  }
  .footer-basic {
    flex-wrap: wrap;
  }
  .footer-basic__column--wide {
    flex-grow: 1;
  }
  .footer-basic__column--form {
    width: 100%;
    margin-top: 20px;
  }
  .footer-basic__input,
  .footer-basic__btn {
    width: 48%;
    margin-bottom: 0;
  }
  .footer-basic__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
  }
}

//--------------------------
@media (max-width: 1022px) {
  .slider__img {
    width: 100%;
    
    &:first-of-type,
    &:last-of-type {
      display: none;
    }
  }
  .footer__block--review {
    display: none;
  }
  .menu__column:nth-child(2) {
    display: none;
  }
  .footer__social {
    margin-left: 7px;
    margin-right: 7px;
  }
  .menu__list {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-around;
  }
  .wrapper {
    padding-left: 20px;
    padding-top: 0;
  }
  .sidebar {
    position: static;
    transform: none;
    max-height: none;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 100px;
  }
  .sidebar__btn {
    width: 200px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #fff;
    background-color: @green;
    transition: ease-out 0.3s;

    &:hover,
    &:active {
      background-color: @hover;
      transition: ease-out 0.3s;
    }
  }
  .sidebar__list {
    display: none;
  }
}

//--------------------------
@media (max-width: 766px) {
  .like {
    display: none;
  }
  .footer__block img {
    width: 40px;
    height: 40px;
  }
  .footer__social {
    margin-left: 5px;
    margin-right: 5px;
  }
  .footer__block {
    font-size: 12px;
  }
  .slider__title {
    font-size: 48px;
  }
  .slider__info {
    padding: 60px 20px;
  }
  .subscribe {
    width: 100%;
  }
  .subscribe__title {
    margin-bottom: 10px;
  }
  .subscribe__input {
    display: block;
    padding-bottom: 0;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
  }
  .subscribe__btn {
    margin-bottom: 15px;
    margin-top: 15px;
  }
  .subscribe p {
    max-width: 550px;
  }
  .cart {
    margin-left: 0;
  }
  .menu__column {
    width: 60%;
  }
  .menu__list {
    flex-wrap: wrap;
    padding-top: 100px;
    padding-bottom: 150px;
  }
  .filter {
    display: block;
    width: 280px;
    margin-left: auto;
    margin-right: auto;
  }
  .filter fieldset,
  .filter__range {
    width: 100%;
    margin-bottom: 20px;
  }
  .filter__btn {
    margin-left: auto;
    margin-right: auto;
  }
  .catalog__item {
    width: 280px;
    margin-left: auto;
    margin-right: auto;
  }
  .catalog__img {
    height: 350px;
  }
  .title {
    text-align: center;
  }
}

//-------------------------
@media (max-width: 480px) {
  .footer__wrap:last-child {
    display: none;
  }
  .footer__wrap {
    width: 50%;
  }
  .wrapper-main {
    justify-content: space-between;
  }
  .menu__btn,
  .cart img {
    width: 30px;
    height: 30px;
  }
  .footer__block img,
  .footer__social img {
    width: 25px;
    height: 25px;
  }
  .footer__social--fb img,
  .footer__social--in img {
    width: 30px;
    height: 30px;
  }
  .footer__social {
    margin-right: 0;
    margin-left: 10px;
  }
  .footer__block {
    font-size: 10px;
  }
  .swiper-container-vertical>.swiper-pagination-bullets {
    right: 5px;
  }
  .header__wrap {
    width: auto;
  }
  .menu__list {
    padding-top: 0;
    padding-bottom: 0;
  }
  .footer-basic__column {
    width: 100%;
  }
  .footer-basic__column--wide .footer-basic__list {
    display: block;
    
    li {
      width: 100%;
    }
  }
  .footer-basic__title {
    margin-top: 15px;
  }
  .footer-basic__wrap {
    display: block;
  }
  .footer-basic__btn,
  .footer-basic__input {
    width: 100%;
    margin-bottom: 20px;
  }
}
