@media (max-width: 1800px) {
  .wrapper {
    padding-left: 320px;
    padding-top: 120px;
    width: 100%;
    
    &--info {
      padding-left: 20px;
    }
    &--card {
      padding-left: 20px;
      width: 1255px;
    }
  }
  .wrapper-main {
    padding-left: 20px;
    padding-right: 20px;
  }
  .sidebar {
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    max-height: 400px;
    overflow-y: auto;
  }
  .catalog__item {
    width: 48%;
    margin-bottom: 40px;
  }
  .info {
    margin-left: auto;
    margin-right: auto;
  }
  .link-back {
    position: relative;
    top: 0;
    left: 0;
    margin-bottom: 30px;
  }
}

//----------------------------
@media (max-width: 1400px) {
  .header {
    padding-top: 10px;
  }
  .cart img,
  .like img,
  .footer__block img,
  .footer__social img {
    width: 45px;
    height: 45px;
  }
  .footer__social--fb img,
  .footer__social--in img {
    width: 52px;
    height: 52px;
  }
  .menu__btn {
    width: 35px;
    height: 35px;
  }
  .slider__comment,
  .logo {
    font-size: 40px;
  }
  .slider__title {
    font-size: 70px;
  }
  .menu__wrap {
    padding-top: 100px;
  }
  .menu__list {
    max-height: 500px;
    overflow-y: auto;
  }
  .filter fieldset,
  .filter__range {
    width: 24%;
  }
  .catalog__img {
    height: 560px;
  }
  .promo {
    margin-top: 100px;
  }
  .related__next {
    right: -20px;
  }
  .related__prev {
    left: -20px;
  }
}

//-------------------------
@media (max-width: 1278px) {
  .slider__pagination .swiper-pagination-bullet {
    width: 15px;
    height: 15px;
  }
  .filter {
    justify-content: space-around;
  }
  .filter fieldset,
  .filter__range {
    width: 30%;
  }
  .catalog__img {
    height: 400px;
  }
  .catalog__overlay {
    padding: 20px;
  }
  .catalog__form {
    width: 100%;
  }
  .catalog__item {
    margin-bottom: 20px;
  }
  .footer-basic {
    flex-wrap: wrap;
  }
  .footer-basic__column--wide {
    flex-grow: 1;
  }
  .footer-basic__column--form {
    width: 100%;
    margin-top: 20px;
  }
  .footer-basic__input,
  .footer-basic__btn {
    width: 48%;
    margin-bottom: 0;
  }
  .footer-basic__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
  }
  .review {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    transform: none;
    position: static;
  }
  .review__text,
  .review__response {
    width: 760px;
  }
  .logo img {
    width: 200px;
  }
  .wrapper--card {
    width: 100%;
  }
  .card__slider {
    width: 630px;
  }
  .related .catalog__item {
    width: 280px;
  }
  .related .catalog__img {
    height: 350px;
  }
  .related__slider {
    width: 880px;
    margin-left: auto;
    margin-right: auto;
  }
  .related__next {
    right: 0;
  }
  .related__prev {
    left: 0;
  }
  .card__preview {
    margin-right: 25px;
  }
  .card__photo {
    max-width: 500px;
  }
}

//--------------------------
@media (max-width: 1022px) {
  .slider__img {
    width: 100%;
    
    &:first-of-type,
    &:last-of-type {
      display: none;
    }
  }
  .footer {
    padding-bottom: 10px;
  }
  .footer__maker {
    display: none;
  }
  .footer__block--review {
    display: none;
  }
  .menu__column:nth-child(2) {
    display: none;
  }
  .footer__social {
    margin-left: 7px;
    margin-right: 7px;
  }
  .menu__list {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-around;
  }
  .wrapper {
    padding-left: 20px;
    padding-top: 0;
    
    &--card,
    &--info {
      padding-top: 120px;
    }
  }
  .info {
    margin-bottom: 70px;
  }
  .sidebar {
    position: static;
    transform: none;
    max-height: none;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 100px;
  }
  .sidebar__btn {
    width: 200px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #fff;
    background-color: @green;
    transition: ease-out 0.3s;

    &:hover,
    &:active {
      background-color: @hover;
      transition: ease-out 0.3s;
    }
  }
  .sidebar__list {
    display: none;
  }
  .review__wrap {
    display: block;
  }
  .review__text::before {
    top: -13px;
    left: 26px;
    transform: rotate(135deg);
  }
  .review__author,
  .review__response,
  .review__text {
    width: 100%;
  }
  .review__author {
    padding-top: 0;
  }
  .card {
    display: block;
  }
  .card__slider {
    margin-left: auto;
    margin-right: auto;
  }
  .card__info {
    width: 100%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    
    .filter__select {
      max-width: 300px;
    }
  }
  .card__label span {
    display: inline;
    margin-left: 20px;
  }
  .card__btn, .card__like {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
  .related {
    .catalog__select {
      height: 40px;
      background-position: 93% 15px;
    }
    .catalog__overlay {
      padding: 20px 15px;
    }
    .catalog__cart {
      height: 40px;
      margin-top: 15px;
      letter-spacing: normal;
    }
  }
  .review__value {
    text-align: left;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
    
    span {
      margin-left: 15px;
    }
  }
  .review__btn {
    margin-right: 0;
  }
  .related__slider {
    width: 600px;
  }
  .card__info {
    text-align: center;
  }
  .card__tab {
    text-align: left;
  }
}

//--------------------------
@media (max-width: 766px) {
  .like {
    display: none;
  }
  .footer__block img {
    width: 40px;
    height: 40px;
  }
  .footer__social {
    margin-left: 5px;
    margin-right: 5px;
  }
  .footer__block {
    font-size: 12px;
  }
  .slider__title {
    font-size: 48px;
  }
  .slider__info {
    padding: 60px 20px;
  }
  .subscribe {
    width: 100%;
  }
  .subscribe__title {
    margin-bottom: 10px;
  }
  .subscribe__input {
    display: block;
    padding-bottom: 0;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
  }
  .subscribe__btn {
    margin-bottom: 15px;
    margin-top: 15px;
  }
  .subscribe p {
    max-width: 550px;
  }
  .cart {
    margin-left: 0;
  }
  .menu__column {
    width: 60%;
  }
  .menu__list {
    flex-wrap: wrap;
    padding-top: 100px;
    padding-bottom: 150px;
  }
  .filter {
    display: block;
    width: 280px;
    margin-left: auto;
    margin-right: auto;
  }
  .filter fieldset,
  .filter__range {
    width: 100%;
    margin-bottom: 20px;
  }
  .filter__btn {
    margin-left: auto;
    margin-right: auto;
  }
  .catalog__item {
    width: 280px;
    margin-left: auto;
    margin-right: auto;
  }
  .catalog__img {
    height: 350px;
  }
  .title {
    text-align: center;
  }
  .modal {
    width: 100%;
    max-width: 500px;
    padding: 20px;
  }
  .modal__field {
    display: block;
    
    span {
      left: 0;
    }
  }
  .modal__label {
    display: block;
    margin-bottom: 10px;
  }
  .modal__input,
  .modal__text {
    width: 100%;
  }
  .modal__captcha {
    margin-left: 0;
  }
  .footer__wrap {
    font-size: 12px;
  }
  .logo img {
    width: 150px;
  }
  .card__slider {
    width: 100%;
  }
  .card__btn,
  .card__like {
    width: 280px;
  }
  .card__like::before {
    left: 25px;
  }
  .card__photo {
    max-width: 340px;
  }
  .related__slider {
    width: 280px;
  }
  .card__slider {
    flex-direction: column-reverse;
  }
  .card__preview {
    width: 100%;
    margin-right: 0;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    align-content: flex-start;
    
    a {
      margin-bottom: 20px;
    }
  }
  .card__photo {
    margin-left: auto;
    margin-right: auto;
  }
}

//-------------------------
@media (max-width: 480px) {
  .footer__wrap:last-child {
    width: 100%;
    text-align: left;
    justify-content: flex-start;
  }
  .footer__wrap {
    width: 50%;
  }
  .wrapper-main {
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .menu__btn,
  .cart img {
    width: 30px;
    height: 30px;
  }
  .footer__block img,
  .footer__social img {
    width: 25px;
    height: 25px;
  }
  .footer__social--fb img,
  .footer__social--in img {
    width: 30px;
    height: 30px;
  }
  .footer__social {
    margin-right: 0;
    margin-left: 10px;
  }
  .footer__block {
    font-size: 10px;
  }
  .swiper-container-vertical>.swiper-pagination-bullets {
    right: 5px;
  }
  .header__wrap {
    width: auto;
  }
  .menu__list {
    padding-top: 0;
    padding-bottom: 0;
  }
  .footer-basic__column {
    width: 100%;
  }
  .footer-basic__column--wide .footer-basic__list {
    display: block;
    
    li {
      width: 100%;
    }
  }
  .footer-basic__title {
    margin-top: 15px;
  }
  .footer-basic__wrap {
    display: block;
  }
  .footer-basic__btn,
  .footer-basic__input {
    width: 100%;
    margin-bottom: 20px;
  }
}
